nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.toMap {
    font-size: 1.5rem;
    margin-top: 25px;
    border-bottom: .5px solid #ffffff;
    padding: 7px;
    position: relative;
    top: 40px;
}

footer.page-footer {
  margin: 0;
  border-top: .5px solid grey;
}

#map {
  height: 500px;
  /* width: 100%; */
  /* margin-left: 50px;
  margin-bottom: 45px; */
}

.dropdown-trigger{
  width: 35%;
}

.select {
  width: 100%;
  padding: 1rem;
  background-color: #d32f2f;
  color:#ffffff;
}

.dropdown-content li>a, .dropdown-content li>span {
  padding:0;
}

#location{
  color: #ffffff;
  font-size: 1.35rem;
}

#locationInput {
  color: #ffffff;
  font-size: 1.35rem;
}

.row .input-field input:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}

.user-choice {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 5px;
  padding: 8px;
  background-color: #d32f2f;
}

.results {
  font-size: 1rem;
  color: red;
} 

.collapsible {
  margin: 0px;
}


