nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.toMap {
    font-size: 1.5rem;
    margin-top: 25px;
    border-bottom: 2px solid #ffffff
}

footer.page-footer {
  margin: 0;
  border-top: .5px solid grey;
}

/* map display */
#map {
  height: 500px;
  width: 90%;
  margin: auto;
  margin-bottom: 45px;
}

/* drop down map buttons*/
.dropdown-trigger{
  width: 35%;
}

.select {
  width: 100%;
  padding: 1rem;
  background-color: #d32f2f;
  color:#ffffff;
}

.dropdown-content li>a, .dropdown-content li>span {
  padding:0;
}

.results:hover {
  border: 2px solid black;
  padding: 0px;
   border-style: solid;
}
