/* general html layout */
p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 435px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

#secondBackImg {
  min-height: 300px;
}

/* header text */
#headerText {
  margin-top: 25px;
}

/* logo image */
#logo {
  width: 400px;
}

/* location text field */
#location{
  color: #ffffff;
  font-size: 1.35rem;
}

#locationInput {
  color: #ffffff;
  font-size: 1.35rem;
}

.row .input-field input:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}

/* search button */
#searchButton {
  border: 1px solid #ffffff;
}

/* banner text */
#firstTextBlock {
  margin-top: 30px;
}

/* icon section */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* location menu */
.select {
  width: 100%;
  padding: 1rem;
  background-color: #d32f2f;
  color:#ffffff;
}

.user-choice {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 5px;
  padding: 8px;
  background-color: #d32f2f;
}

/* map sizing */
#map {
  height: 500px;
  width: 97%;
  margin: 0 0 35px 20px;
}

/* display location selection */
.results {
  font-size: 1rem;
} 

.dropdown-trigger{
  width: 35%;
}

.dropdown-content li>a, .dropdown-content li>span {
  padding:0;
}

.collapsible {
  margin: 0px 20px 0 0;
  
}

.collapsible-body {
  padding: 10px;
  color: #ffffff;
  background-color: #d32f2f;
}

hr {
  border-color: #ffffff;
  width: 70%;
}

/* location selection pop up */
.toast {
  background-color: #ffffff;
  color: #000000;
  font-weight: 450;
  border: 2px solid #d32f2f;
}

/* undo button */
#undo-button {
  padding: 14.5px;
  margin-left: 2px;
  border: 1px;
  width: 98%;
  text-align: left;
}

button:focus {
  background-color: #ffffff;
}

/* map link button */
#route-link {
  display: none;
  padding: 14.5px;
  border-top: 1.2px solid #EDEDED;
}

#open-route-link {
  color: #ffffff;
  font-weight: bold;
}

#open-route-link:hover {
  color: #ffffff;
}

#map-it:hover {
  color: #ffffff;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

/* weather display */
#weatherInfo {
  margin: 0px 20px 0 0;
  padding: 15px 0 0 0; 
}

/* footer */
footer.page-footer {
  margin: 0;
  border-top: .5px solid grey;
}

/* media queries */
@media only screen and (max-width : 990px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  #firstTextBlock {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {
  #firstTextBlock {
    margin-top: 0px;
  }
  
  #map {
    height: 400px;
    margin: 0 0 50px 8px;
  }

  .collapsible {
    margin: 0 7px 0 7px;
  }

  #weatherInfo {
    margin: 0 7px 0 7px;
  }
}

@media screen and (max-width: 480px) {
  #logo {
    width: 350px;
  }

  #firstTextBlock {
    margin-top: 0px;
    padding-top: 0px;
  }

  #map {
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
  }

  .collapsible {
    margin: 0 2px 0 2px;
  }

  #weatherInfo {
    margin: 0 2px 0 2px;
  }
}